Admin/src/wsdl/localhost_8080/SoapService/CRUDWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.soapservice.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.soapservice.mycompany.com/" name="CRUDWebService">
<wsp:Policy wsu:Id="CRUDWebServicePortBinding_MTOM_Policy-CRUDWebServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://services.soapservice.mycompany.com/" schemaLocation="http://localhost:8080/SoapService/CRUDWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetMovies">
<part name="parameters" element="tns:GetMovies"/>
</message>
<message name="GetMoviesResponse">
<part name="parameters" element="tns:GetMoviesResponse"/>
</message>
<message name="DeleteMovie">
<part name="parameters" element="tns:DeleteMovie"/>
</message>
<message name="DeleteMovieResponse">
<part name="parameters" element="tns:DeleteMovieResponse"/>
</message>
<message name="GetMovieById">
<part name="parameters" element="tns:GetMovieById"/>
</message>
<message name="GetMovieByIdResponse">
<part name="parameters" element="tns:GetMovieByIdResponse"/>
</message>
<message name="InsertMovie">
<part name="parameters" element="tns:InsertMovie"/>
</message>
<message name="InsertMovieResponse">
<part name="parameters" element="tns:InsertMovieResponse"/>
</message>
<message name="UpdateMovie">
<part name="parameters" element="tns:UpdateMovie"/>
</message>
<message name="UpdateMovieResponse">
<part name="parameters" element="tns:UpdateMovieResponse"/>
</message>
<message name="UploadImage">
<part name="parameters" element="tns:UploadImage"/>
</message>
<message name="UploadImageResponse">
<part name="parameters" element="tns:UploadImageResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="CRUDWebService">
<operation name="GetMovies">
<input wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/GetMoviesRequest" message="tns:GetMovies"/>
<output wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/GetMoviesResponse" message="tns:GetMoviesResponse"/>
</operation>
<operation name="DeleteMovie">
<input wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/DeleteMovieRequest" message="tns:DeleteMovie"/>
<output wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/DeleteMovieResponse" message="tns:DeleteMovieResponse"/>
</operation>
<operation name="GetMovieById">
<input wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/GetMovieByIdRequest" message="tns:GetMovieById"/>
<output wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/GetMovieByIdResponse" message="tns:GetMovieByIdResponse"/>
</operation>
<operation name="InsertMovie">
<input wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/InsertMovieRequest" message="tns:InsertMovie"/>
<output wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/InsertMovieResponse" message="tns:InsertMovieResponse"/>
</operation>
<operation name="UpdateMovie">
<input wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/UpdateMovieRequest" message="tns:UpdateMovie"/>
<output wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/UpdateMovieResponse" message="tns:UpdateMovieResponse"/>
</operation>
<operation name="UploadImage">
<input wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/UploadImageRequest" message="tns:UploadImage"/>
<output wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/UploadImageResponse" message="tns:UploadImageResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.soapservice.mycompany.com/CRUDWebService/UploadImage/Fault/Exception"/>
</operation>
</portType>
<binding name="CRUDWebServicePortBinding" type="tns:CRUDWebService">
<wsp:PolicyReference URI="#CRUDWebServicePortBinding_MTOM_Policy-CRUDWebServicePortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetMovieById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UploadImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="CRUDWebService">
<port name="CRUDWebServicePort" binding="tns:CRUDWebServicePortBinding">
<soap:address location="http://localhost:8080/SoapService/CRUDWebService"/>
</port>
</service>
</definitions>